#board {
    margin: 0;
    width: 256px;
    height: 256px;
    border: solid 1px #333;
  }
  
  #board .row {
    margin: 0;
  }
  
  .square {
    height: 32px;
    width: 32px;
    background: white;
    float: left;
  }
  
  .square.red {
    background: red
  }
  
  .square.black {
    background: black;
  }