<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new item</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Add a new item</h1>
    <div class="container">
        <form action="/budget" method="POST">
            <input type="text" name="date" placeholder="Date">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="amount" placeholder="Amount">
            <input type="text" name="tags" placeholder="Tags">
            <input type="submit" value="CREATE NEW ITEM">
        </form>
    </div>
</body>
</html>