<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Fruit page</h1>
        <form action="/logs/" method="POST">
            Name: <input type="text" name="name" /><br/>
            Title: <input type="text" name="entry" /><br/>
            Textarea: <input type="checkbox" name="shipIsBroken" /><br/>
            <input type="submit" name="" value="Create Log"/>
        </form>
        <nav>
            <a href="/logs/new">Create a New Log</a>
        </nav>
    </body>
</html>